<!-- Template for displaying info of a particular selected Contact -->

<div class="contact row">
	<div class="col-xs-4 col-sm-1">
		<img src="./img/ph40x40.png" alt="Contact Image" class="img-circle" width="40">
	</div>

	<div class="col-xs-8 col-sm-5">
		{{contactInfo.firstName}} {{contactInfo.lastName}} <br/>
		{{contactInfo.contact}}
	</div>

	<div class="compose col-xs-12 col-sm-4 btn-responsive">
		<button type="button" class="btn btn-primary" ui-sref="home.compose({index : index})">
			Send Message
		</button>
	</div>
</div>